@model MVCControlEscolar.Models.Profesor

@{
    ViewData["Title"] = "Details";
}

<h1>Consultar</h1>

<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Nombre)*@
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.PrimerApellido)*@
            Primer Apellido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SegundoApellido)*@
            Segundo Apellido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.CorreoElectronico)*@
            Correo Electr&oacute;nico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Telefono)*@
            Tel&eacute;fono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.IdEstatusRegistroNavigation)*@
            Estatus de Registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstatusRegistroNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a>&nbsp;
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>
